# Iterator Functions

In [25]:
# iter()

In [26]:
s = "TechNet"

In [27]:
iter(s)

In [17]:
v = 10

In [18]:
iter(v)

TypeError: 'int' object is not iterable

In [28]:
myList = [4, 6, 9, 10]

In [34]:
# iter(myList)

In [30]:
newList = iter(myList)

In [33]:
# type(newList)

In [32]:
next(newList)

4

In [35]:
newList.__next__()

6

In [36]:
for i in newList:
    print(i)

9
10

In [38]:
# newList.__next__()

In [39]:
def traverse(it_obj):
    it = iter(it_obj)
    while True:
        try:
            print(next(it))
        except StopIteration:
            break

In [40]:
traverse(lst)

5
10
15
20

# Map Functions

In [ ]:
# map(func, it1, it2, itn)

In [41]:
lst = [2, 5, 3, 4]

In [43]:
def sq(lst_obj):
    s = []
    for i in lst_obj:
        s.append(i*i)
    return s

In [44]:
sq(lst)

[4, 25, 9, 16]

In [64]:
lst1 = [3, 2, 6, 6]

In [65]:
lst2 = [1, 5, 6, 7]

In [46]:
def square(n):
    return n * n

In [ ]:
# def square(n1, n2):
#     return n * n

In [49]:
# map(square, lst1)

In [50]:
my_sqs = map(square, lst1)

In [51]:
next(my_sqs)

9

In [52]:
for i in my_sqs:
    print(i)

4
36
36

In [53]:
list(map(square, lst1))

[9, 4, 36, 36]

In [60]:
v1 = [4, 5, 6]   
v2 = [1, 2, 2]   # base

In [61]:
powers = map(pow, v1, v2)

In [62]:
list(map(pow, v1, v2))

[4, 25, 36]

# Filter Function

In [66]:
random_list = [3, 6, 8, 1, 10]

In [68]:
def even_check(x):
    return x % 2 == 0

In [70]:
list(filter(even_check, random_list))

[6, 8, 10]

In [ ]:
# list comp.

In [71]:
lst5 = [4, 6, 7, 10]

In [ ]:
for i in lst5:
    print(i)

In [73]:
[i for i in lst5]

[4, 6, 7, 10]

In [75]:
[i for i in range(1,6)]

[1, 2, 3, 4, 5]

In [76]:
[i for i in lst5 if i%2 == 0]

[4, 6, 10]

In [77]:
v1 = [3, 5, 6]
v2 = [2, 6, 6]

In [80]:
# for i in v1:
#     for j in v2:
#         print(i*j)

In [81]:
[i*j for i in v1 for j in v2]

[6, 18, 18, 10, 30, 30, 12, 36, 36]

# Lambda Functions

In [85]:
def square1(x):
    result = x *x 
    return result

In [86]:
square1(4)

16

In [87]:
def square2(x):
    return x *x

In [88]:
square2(4)

16

In [89]:
def square3(x): return x *x

In [90]:
square3(4)

16

In [92]:
sq = lambda x: x *x

In [93]:
sq(4)

16

In [94]:
lst = [4, 6, 2]

In [95]:
def sqr(x):
    return x*x

In [97]:
list(map(sqr, lst))

[16, 36, 4]

In [98]:
list(map(lambda x : x*x, lst))

[16, 36, 4]