In [1]:
list1 = []

In [2]:
type(list1)

list

In [3]:
list2 = [2, 'Ali', True, 53.35]

In [4]:
list2

[2, 'Ali', True, 53.35]

In [5]:
list3 = list2[:]

In [6]:
list2[0] = 50

In [7]:
list2

[50, 'Ali', True, 53.35]

In [8]:
del list2[1]

In [9]:
list2

[50, True, 53.35]

In [10]:
myList = [10, ["Bilal", 3.7], 20, ["Ali", 3.9]]

In [11]:
myList[1]

['Bilal', 3.7]

In [12]:
myList[1][0]

'Bilal'

In [13]:
myList2 = [53,5,3,1, 10]

In [20]:
myList

[10, ['Bilal', 3.7], 20, ['Ali', 3.9]]

In [21]:
myList + myList2

[10, ['Bilal', 3.7], 20, ['Ali', 3.9], 1, 3, 5, 10, 53]

In [23]:
myList3 = [45, 10, 2, 50]

In [24]:
myList3.sort()

In [25]:
myList3

[2, 10, 45, 50]

In [27]:
myList3.index(45)

2

In [28]:
myList3.insert(2, "Bilal")

In [29]:
myList3

[2, 10, 'Bilal', 45, 50]

In [30]:
del myList3[3]

In [31]:
myList3

[2, 10, 'Bilal', 50]

In [32]:
myList3.remove('Bilal')

In [33]:
myList3

[2, 10, 50]

In [34]:
myList4 = list([4,6,4,6])

In [35]:
myList4

[4, 6, 4, 6]

In [36]:
type(myList4)

list

In [37]:
myList4

[4, 6, 4, 6]

In [ ]:
i = 0
while i < 4:
    print(myList4[i])
    i+=1