In [1]:
course_name = "Python"

In [5]:
course_name[0]

'P'

In [2]:
length = len(course_name)

In [9]:
i = 0
while i < length:
    print(course_name[i])
    i += 1

P
y
t
h
o
n

In [14]:
course_name * 6

'PythonPythonPythonPythonPythonPython'

In [29]:
result1 = ""

In [30]:
for i in range(len(course_name)):
    result1 += course_name

In [31]:
result1

'PythonPythonPythonPythonPythonPython'

# CNIC Number Parsing

In [32]:
cnic = "31000-6563463-3"

In [33]:
cnic

'31000-6563463-3'

In [34]:
type(cnic)

str

In [40]:
cnic[0]

'3'

In [43]:
beforeDash = ""
betweenDash = ""
afterDash = ""
index = 0

In [44]:
for i in range(len(cnic)):
    if cnic[i] != '-':
        beforeDash += cnic[i]
    else:
        index = i
        break

In [45]:
beforeDash

'31000'

In [46]:
for i in range(index+1, len(cnic)):
    if cnic[i] != '-':
        betweenDash += cnic[i]
    else:
        index = i
        break

In [47]:
betweenDash

'6563463'

In [48]:
for i in range(index+1, len(cnic)):
        afterDash += cnic[i]

In [49]:
afterDash

'3'

In [52]:
cnic

'31000-6563463-3'

# Sorting

- Selection Sort
- Bubble Sort
- Insertio Sort
- Merge Sort
- Quick Sort
- Heap Sort
- Radix Sort
- Counting Sort
- Shell Sort
- Bucket Sort

### Selection Sort

In [55]:
import array as arr

In [56]:
type(arr)

module

In [58]:
a = arr.array('i', [3, 6, 8, 2, 10])

In [59]:
a

array('i', [3, 6, 8, 2, 10])

In [72]:
import MyLib2 as lib

In [73]:
lib.show()

My Show Function

In [75]:
from MyLib2 import show

In [76]:
show()

My Show Function

# Functions

In [77]:
def method1():
    print("method 1 output")

In [78]:
method1()

method 1 output

In [79]:
def method2():
    return "method 2 output"

In [80]:
m = method2()

In [81]:
m

'method 2 output'

In [82]:
def add(a, b):
    return a+b

In [83]:
result = add(5, 10)

In [84]:
result

15

In [85]:
print(add(15, 10))

25

In [87]:
def selectionSort(myLst):
    temp = ""
    for i in range(0, len(myLst)):
        for j in range(i+1, len(myLst)):
            if(myLst[j] < myLst[i]):
                temp = myLst[i]
                myLst[i] = myLst[j]
                myLst[j] = temp

In [88]:
lst = [4, 7, 1, 10, 12]

In [89]:
selectionSort(lst)

In [90]:
lst

[1, 4, 7, 10, 12]

In [91]:
def bubbleSort(myLst):
    temp = ""
    for i in range(0, len(myLst)):
        for j in range(0, len(myLst) - 1):
            if(myLst[j] > myLst[j+1]):
                temp = myLst[j]
                myLst[j] = myLst[j+1]
                myLst[j+1] = temp

In [92]:
lst2 = [4, 7, 1, 10, 8, 5]

In [93]:
bubbleSort(lst2)

In [94]:
lst2

[1, 4, 5, 7, 8, 10]

In [100]:
# for i in range(0, len(myLst)):
#         for j in range(0, len(myLst) - 1):
#             if(myLst[j] > myLst[j+1]):
#                 temp = myLst[j]
#                 myLst[j] = myLst[j+1]
#                 myLst[j+1] = temp

In [95]:
a = 6

In [96]:
a

6

In [97]:
type(a)

int

In [98]:
a = "Ali"

In [99]:
type(a)

str

In [103]:
for i in range(5):
    print(i)

0
1
2
3
4

# Set Data Types

In [104]:
s1 = {4, 6, 8, 6, 10}

In [105]:
s1

{4, 6, 8, 10}

In [106]:
s2 = set('abcfdsabc')

In [107]:
s2

{'a', 'b', 'c', 'd', 'f', 's'}

In [108]:
s3 = {4, 7, 8, 10, 2}
s4 = {7, 15, 7, 10, 20}

In [109]:
s3 | s4

{2, 4, 7, 8, 10, 15, 20}

In [110]:
s3.union(s4)

{2, 4, 7, 8, 10, 15, 20}

In [111]:
s3 & s4

{7, 10}

In [112]:
s3.intersection(s4)

{7, 10}

In [113]:
s3 - s4

{2, 4, 8}

In [116]:
s4

{7, 10, 15, 20}

In [115]:
s3

{2, 4, 7, 8, 10}

In [114]:
s3.difference(s4)

{2, 4, 8}

In [117]:
s3 ^ s4

{2, 4, 8, 15, 20}

In [119]:
s3

{2, 4, 7, 8, 10}

In [120]:
s4

{7, 10, 15, 20}

In [122]:
s4.symmetric_difference(s3)

{2, 4, 8, 15, 20}

In [121]:
s4.difference(s3)

{15, 20}

In [123]:
s4

{7, 10, 15, 20}

In [124]:
s4.add(100)

In [127]:
s4

{7, 10, 15, 20, 100}

In [131]:
fs1 = frozenset({2, 5, 7, 2, 5, 10, 15})

In [133]:
fs1

frozenset({2, 5, 7, 10, 15})

# Tuple

In [134]:
t1 = (5,356,3,63,463)

In [136]:
t1

(5, 356, 3, 63, 463)

In [137]:
type(t1)

tuple

In [140]:
t2 = tuple([54,5,43,53])

In [141]:
t2

(54, 5, 43, 53)

In [142]:
t3 = 4, 6, 7, 8, 10

In [143]:
type(t3)

tuple

In [144]:
t3

(4, 6, 7, 8, 10)

In [149]:
t4 = (4, )

In [150]:
type(t4)

tuple

In [151]:
t4

(4,)

# Dictionary

In [153]:
dic1 = {
    1: "Bilal",
    2: "Ahmad",
    3: "Anas"
}

In [154]:
dic1

{1: 'Bilal', 2: 'Ahmad', 3: 'Anas'}

In [155]:
dic1[1]

'Bilal'

In [156]:
dic1[2] = "Ahmad Khan"

In [157]:
dic1

{1: 'Bilal', 2: 'Ahmad Khan', 3: 'Anas'}

In [158]:
dic1.keys()

dict_keys([1, 2, 3])

In [159]:
dic1.values()

dict_values(['Bilal', 'Ahmad Khan', 'Anas'])

In [163]:
for i in dic1:
    print(f"Key : {i}, Value : {dic1[i]}")

Key : 1, Value : Bilal
Key : 2, Value : Ahmad Khan
Key : 3, Value : Anas

In [168]:
#for k, v in dic1:
#   print(f"Key : {k}, Value : {v.value}")

In [169]:
def fun(*args):
    for i in args:
        print(i)

In [170]:
fun([3,4,7,2])

[3, 4, 7, 2]

# Best of Luck :)