In [1]:
v1 = 5
v2 = 'Ahmad'

In [4]:
print(str(v1) + " , " + v2)

5 , Ahmad

In [12]:
result1 = "Value 1: {0}, Value 2: {1}".format(v1, v2)

In [13]:
print(result)

Value 1: 5, Value 2: Ahmad

In [14]:
result2 = f"Value 1: {v1}, Value 2: {v2}"

In [15]:
print(result2)

Value 1: 5, Value 2: Ahmad

In [17]:
num1 = 645
num2 = float(num1)

In [18]:
num2

645.0

In [19]:
type(num2)

float

In [20]:
b = bool(True)

In [21]:
b

True

In [24]:
if True:
    print("Okay")

Okay

In [25]:
a = 6

In [26]:
if a >= 10:
    print("Okay")
else:
    print("Not Okay")

Not Okay

In [32]:
myStr = "Anaconda PM"

In [34]:
'PM' in myStr

True

In [35]:
myStr1 = "Anaconda"

In [37]:
# myStr1[0] = 'P'

In [39]:
str = ""

# List Data Structure

In [38]:
list1 = []

In [40]:
list1.append(5)

In [41]:
list1

[5]

In [42]:
list1.append('Ahmad')
list1.append(546.4)

In [43]:
list1

[5, 'Ahmad', 546.4]

In [44]:
list2 = [53, 67, 'Bilal', True, 36.63]

In [45]:
list2

[53, 67, 'Bilal', True, 36.63]

In [46]:
list2[2] = 'M. Bilal'

In [47]:
list2

[53, 67, 'M. Bilal', True, 36.63]

In [48]:
del list2[3]

In [49]:
list2

[53, 67, 'M. Bilal', 36.63]

In [50]:
len(list2)

4

In [51]:
for i in list2:
    print(i)

53
67
M. Bilal
36.63

# Best of Luck :)