#### Quiz Exp 1

In [1]:
lst = [5, 6, 7, 10]

In [4]:
try:
    lst[4]
except:
    print("Index out of range")
else:
    print("Okay")
finally:
    print("Always run")

Index out of range
Always run

#### Quiz Exp 2

In [5]:
lst1 = [4, 6, 10]

In [6]:
def func1(x):
    x.append(50)
    print(x)

In [7]:
lst1

[4, 6, 10]

In [8]:
func1(lst1)

[4, 6, 10, 50]

In [9]:
lst1

[4, 6, 10, 50]

#### Quiz Exp 3

In [10]:
lst = [5 , 6, 8, 10]

In [11]:
lst.insert(2, 50)

In [12]:
lst

[5, 6, 50, 8, 10]

In [21]:
def func2():
    """
    My simple user-defined function
    """
    
    print("some statements")

In [22]:
func2()

some statements

#### Quiz Exp 4

In [34]:
def func3(a, b, c, d=5, e=100, f=0):
    print(a, b, c, d, e, f)

In [38]:
func3(4, 5, 10, 50, 70, 40, 50)

TypeError: func3() takes from 3 to 6 positional arguments but 7 were given

In [43]:
def func4(*args):
    print(args)

In [44]:
func4(4, 6, 8, 10)

(4, 6, 8, 10)

In [49]:
def func4(*info):
    for i in info:
        print(i)

In [51]:
func4(5, "Bilal")

5
Bilal

In [57]:
def func5(name, degree):
    print("My Info - Name: {}, Degree: {}".format(name, degree))

In [61]:
func5(degree="SE", name="Bilal")

My Info - Name: Bilal, Degree: SE

In [70]:
def func6(**info):
    print(info)
    print("Info - Name: {}, Degree: {}".format(info["Name"], info["Degree"]))

In [71]:
func6(Name="Bilal", Degree ="SE")

{'Name': 'Bilal', 'Degree': 'SE'}
Info - Name: Bilal, Degree: SE

In [76]:
# def func7(**info):
#     for i in info:
#         print(i)

In [79]:
# def func7(**info):
#     for i in info.keys():
#         print(i)

In [82]:
# def func7(**info):
#     for i in info.values():
#         print(i)

In [84]:
# def func7(**info):
#     for i in info.items():
#         print(i)

In [88]:
def func7(**info):
    for k, v in info.items():
        print(f"{k}, {v}")

In [89]:
func7(Name="Bilal", Degree ="SE")

Name, Bilal
Degree, SE

In [90]:
def simple_func(arg_func):
    
    def internal_func():
        
        print("Statement 1")
        
        arg_func()
        
    return internal_func

In [93]:
# decorator_obj = simple_func(my_personal_func)

In [94]:
@simple_func
def my_personal_func():
    print("My personal statements")

In [95]:
my_personal_func()

Statement 1
My personal statements